name: Deploy Sphinx documentation to Pages

# Runs on every tag created beginning with the character v
on:
  push:
    # TODO: Remove the branches trigger once Newton is making production releases
    branches:
      - main
      - "release-*"
    tags:
      - v*
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          version: "0.9.0"
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version-file: ".python-version"
      - name: Build Sphinx documentation
        run: uv run --extra docs --extra sim sphinx-build -b html docs docs/_build/html
      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: html-docs
          path: docs/_build/html/
      - name: Deploy to gh-pages
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git checkout --orphan gh-pages
          git rm -rf .
          mv docs/_build/html/* .
          mv docs/_build/html/.nojekyll .
          mv docs/_build/html/.buildinfo .
          rm -rf docs newton _build __pycache__
          git add . .nojekyll .buildinfo
          git commit -m "Deploy Sphinx documentation"
          git push -f origin gh-pages
